*{
    margin:0;
    padding: 0;
    border: border-box;
}

body{
    color: azure;
    background-color: black;
    height: 100vh;
    margin-left: 30%;
    margin-right: 30%;
    
}
#calculator{
    margin-top:25%;
}
.row{
    display:flex;
}
#display{
    background-color: azure;
    margin-bottom: 15px;
    width: 144px;
    height: 45px;
    border-radius: 50px;
}
.btn{
height: 50px;
width: 50px;
border-radius: 50px;
font-weight: bolder;
}
